$padding-head: 100px !default;
$padding-edge: 70px;

$form-border: 3px solid #313c55;
$form-border-active: 3px solid $primary;

$corner-radius: 8px;

mainmenupanel .navigator-canvas .navigator-body
{
	> .sidebar
	{
		width: 400px;
		flex-shrink: 0;
		flex-grow: 0;
		flex-direction: column;
		z-index: 10;
		transition: width 0.1s ease;
		padding-bottom: 90px;

		&.wider
		{
			width: 500px;
		}

		> .sidebar-inner
		{
			padding-right: 30px;
			flex-direction: column;
			height: 100%;
		}

		&.is-right > .sidebar-inner
		{
			padding-left: 30px;
			padding-right: 00px;
		}

		.section
		{
			flex-direction: column;
			margin-bottom: 30px;

			.section-header
			{
				color: #c6d4ee;
				font-family: poppins;
				font-weight: 400;
				text-transform: uppercase;
				padding-bottom: 10px;
				letter-spacing: 2px;
			}

			.section-text
			{
				color: #c6d4ee;
				font-family: poppins;
				font-weight: 400;
				padding-bottom: 10px;
				margin: 10px 20px;
				font-size: 13px;
			}

			.row
			{
				.button:not( :last-child )
				{
					margin-right: 10px;
				}
			}
		}

		.spacer
		{
			flex-grow: 1;
		}

		.checkbox
		{
			margin-bottom: 10px;
			font-family: poppins;
			font-weight: 400;
			font-size: 13px;

			&:last-child
			{
				margin-bottom: 0;
			}
		}

		groupbox
		{
			border: $form-border;
			border-radius: $corner-radius;
			padding: 10px 15px;
			flex-direction: column;
		}

		buttongroup
		{
			display: flex;
			border: $form-border;
			border-radius: $corner-radius;
			overflow: hidden;
			padding: 0;

			> .button
			{
				margin: 0;
				flex-grow: 1;
				padding: 0;
				font-size: 14px;
				border: 0;
				border-radius: 0;
				text-align: center;
				justify-content: center;

				&:hover, &.active
				{
					border: 0;
					background-color: $primary;
				}

				&:first-child
				{
					border-radius: $corner-radius 0 0 $corner-radius;
				}

				&:last-child
				{
					border-radius: 0 $corner-radius $corner-radius 0;
				}
			}
		}

		hr
		{
			height: 2px;
			border-radius: 100px;
			background-color: #313c55;
			margin: 20px 0px;
		}
	}

	.nothing-found
	{
		text-align: center;
		color: white;
		opacity: 0.2;
		text-transform: lowercase;
	}
}


mainmenupanel > navigator > .navigator-canvas > .navigator-body.has-sidebar .sidebar.is-secondary
{
	width: 400px;
	overflow: hidden;

	box-shadow: none;
	z-index: 9;
	transition: all 0.1s ease-out;

	> .sidebar-inner
	{
		padding-left: 30px;
		padding-right: 30px;
		width: 400px;
	}

	&.hidden
	{
		width: 0px;
		opacity: 0;
	}
}

.sidebar .textentry
{
	border: $form-border;
	border-radius: $corner-radius;
	font-size: 13px;
	color: #c6d4ee;
	font-family: poppins;
	font-weight: 500;


}

.sidebar .splitcontainer .splitter
{

}

.sidebar .listbox
{
	font-size: 15px;
	color: white;
	font-family: Poppins;
}

.sidebar .button
{
	border: $form-border;
	border-radius: $corner-radius;
	margin-bottom: 5px;
	background-color: transparent;
	font-family: poppins;
	font-weight: 500;
	font-size: 15px;
	color: #c6d4ee;

	&:hover
	{
		border: 3px solid $primary;
		color: $primary-fg;
		background-color: transparent;
	}

	&.active, &.active:hover
	{
		border: 3px solid $primary;
		background-color: transparent;
		color: $primary-fg;
	}

	&:active
	{
		border: 3px solid $primary-fg;
		background-color: transparent;
		color: $primary-fg;
	}

	&.is-danger
	{
		border: 3px solid $danger;
		background-color: $danger;
		color: $danger-fg;

		&:hover
		{
			background-color: $danger-fg;
			border: 3px solid $danger-fg;
			color: $danger;
		}

		&:active
		{
			background-color: $danger-fg;
			border: 3px solid white;
			color: $danger;
		}
	}

	&.is-primary
	{
		border: 3px solid $primary;
		background-color: $primary;
		color: $primary-fg;

		&:hover
		{
			border: 3px solid $primary-fg;
			background-color: $primary;
			color: $primary-fg;
		}

		&:active
		{
			border: 3px solid $primary-fg;
			background-color: $primary-fg;
			color: $primary;
		}
	}

	&.borderless
	{
		border: none;
	}
}

.sidebar .section
{
	flex-shrink: 0;
}
