QTreeView 
{
    show-decoration-selected: 1;
    border: 0px;
    padding: 0px;
    color: #777;
    qproperty-indentation: 20; 
    font-size: 12px;
}

QTreeView::item 
{
    padding: 2px 0px;
    padding-right: 5px;
    
}

QTreeView::item:hover 
{
    color: #aaa;
    background-color: transparent;
}



QTreeView::branch, QTreeView::branch:selected
{
    background: transparent;
    border: 0px;
}

QTreeView::branch:closed:has-children
{
    image: url( "toolimages://image/tree-closed.png");
}

QTreeView::branch:open:has-children
{
    image: url( "toolimages://image/tree-open.png");
}


QTreeView::item QLineEdit
{
    background-color: transparent;
    border: 0px;
    font-size: 12px;
}

QTreeView::item QLineEdit:focus
{
    border: 0px solid #aaa;
    background-color:rgba(49, 58, 75, 0.9);
    color: white;
}

QTreeView::branch:selected  
{
    background: red;
}

QTreeView::item:selected, QTreeView::branch:selected
{
    color: #ccc;
    background-color:rgb(49, 58, 75);
}