
$error: #BF616A;
$warning: #d47050;

$background: #171819;
$control: #38393c;
$control-dark: #262728;
$control-light: #636363;
$control-label: #dbdee9;
$control-text: #ccc;
$control-highlight: #3793c8;

$client: #f3d234;
$server: #3793c8;


$blue: #3793c8;
$green: #75b741;
$yellow: #b69a2c;