button
{
	background-color: #3171E6;
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 13px 40px;
	border-radius: 50px;
	cursor: pointer;
	opacity: 0.8;
	border: 3px solid transparent;

	&:hover
	{
		opacity: 1;
	}
}


.column
{
	flex-direction: column;

	.row
	{
		background-color: rgba( #444, 0.1 );
		padding: 4px;
		margin-bottom: 2px;
		border-radius: 4px;
		flex-direction: row;

		.label
		{
			width: 200px;
			text-align: left;
			color: white;
			opacity: 0.2;
			padding: 10px;
		}

		.value
		{
			padding: 10px;
			width: 200px;
			text-align: center;
			color: #4cff00;
			background-color: rgba( black, 0.5 );
			border-radius: 4px;
			font-family: monospace;
			font-size: 10px;
		}
	}
}